* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration-style: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
}

:root {
    --verdeOscuro: rgb(49, 137, 22);
    --verdeMuyOscuro: rgb(35, 102, 14);
    --verdeMuyOscuroN: rgb(23, 65, 11);
    --verdeMedio: rgb(74, 197, 37);
    --verdeClaro: rgb(140, 250, 107);
    --verdeMuyClaro: rgb(209, 255, 195);
    --verdeFosfo: rgb(80, 255, 26);
    --naranja: rgb(255, 175, 26);
    --naranjaClaro: rgb(255, 208, 121);
    --naranjaOscuro: rgb(182, 126, 21);
    --amarillo: rgb(240, 244, 33);
    --lima: rgb(184, 231, 31);
}

a:visited {
    color: var(--verdeMuyOscuro);
}

a {
    color: var(--verdeMedio);
  }

a:hover {
    color: var(--verdeOscuro);
}

h1, h2, h3, p {
    margin: 1rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.85rem;
}
p {
    font-size: 1.5rem;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.7rem;
    background-color: var(--verdeClaro);
    font-weight: bolder;
    transform: 250ms ease all;
    margin: 1rem;
}

button:hover {
    transform: 250ms ease all;
    background-color: var(--verdeMedio);
    color: var(--verdeMuyClaro);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/images/background/4.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.logo {
    max-width: 10rem;
}
/* FORMULARIO */

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

label {
    font-size: 1.5rem;
}

input {
    font-size: 1.5rem;
    border-radius: 0.7rem;
    padding: 0.5rem
}


/* CONTACTO */

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 4rem;
    margin: 1rem;
    transform: 500ms ease all;
}

.icon:hover {
scale: 1.1;
}

.textarea {
    font-size: 1.5rem;
    border-radius: 0.7rem;
    padding: 0.5rem;
    min-width: 21rem;
    min-height: 15rem;
}

.checkbox {
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 1.4rem;
    height: 1.4rem;
    appearance: none;
    border: 3px solid var(--verdeOscuro);
}

.checkbox:checked {
    background-color: var(--verdeMedio);
  }


  /* INCIDENCIAS */
  
.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.imgFile {
    font-weight: 600;
    color: #fff;
    background-color: var(--verdeOscuro);
    display: inline-block;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.7rem;
    text-transform: uppercase;
    transform: 250ms ease all;
    margin: 1rem;
    }
.imgFile:hover {
    background-color: var(--verdeMedio);
    color: var(--verdeMuyClaro);
}

/* PARQUES */

.fitxa-parke {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
    max-width: 30rem;
    border: 3px solid var(--verdeOscuro);
    box-shadow: 0px 0px 7px 1px rgba(23, 65, 11,0.75);
}
.imgP {
    width: 100%;
    border-radius: 0.7rem;
}

select {
    font-size: 1.5rem;
    border-radius: 0.7rem;
    padding: 0.5rem;
    background-color: var(--verdeMuyClaro);
    color: var(--verdeOscuro);
}

.parques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

.parque-detalle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalle-texto{
    width: 60%;
}
.imagen-detalle {
    width: 40%;
}
.imgPD {
    width: 100%;
    border-radius: 0.7rem;
}
/* MENU NORMAL */

.navbarStatic {
    background-color: var(--verdeClaro);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 4rem;
}

.navbarUl {
    display: flex;
    justify-content: space-around;
    list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	font-size:1.5rem;
	height:3em;
    color:var(--verdeMedio);
	text-transform:none;
	font-weight:bold;
}

.navbar-link {
    margin: 1rem;
    font-size: x-large;
}

.navbarUl:hover {
    color: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	font-size:1.5rem;
	height:2.7em;
    color:var(--verdeOscuro);
	text-transform:none;
	font-weight:bold;
    background-color: var(--verdeClaro);
}



/* MENU HAMBURGUESA */

.hamburger{
    display: none;
	position:fixed;
    background-color:transparent;
	left:0;
	top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
.bar{
	background:var(--verdeMuyOscuro);
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.navbar.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.navbar{
   background-color: white;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.navbar ul{
  margin:0;padding:0;
}
.navbar ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
    color:var(--verdeMedio);
	text-transform:none;
	font-weight:bold;
}
.navbar ul li a{
  text-decoration:none;
  color:var(--verdeMedio);
}
.navbar ul li a:hover{
  text-decoration:none;
  color:var(--verdeOscuro);
}

@media (max-width: 1199.98px) { 


    .detalle-texto{
        width: 50%;
    }
    .imagen-detalle {
        width: 50%;
    }

}

@media (max-width: 767.98px) { 
    .parque-detalle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .detalle-texto{
        width: 80%;
    }
    .imagen-detalle {
        width: 80%;
    }
.navbarStatic {
    display: none;
}
.hamburger {
    display: block;
}



}